<body style="background-color:bisque;">
<body>
    <center><h2><p style="font-family: 'Cutive Mono', monospace;">What is a fight favourite or a fight underdog?</p></h2></center>
    
    <ul><li><p style="font-family: Arial"><b>Favourite</b>: the fighter that the bookies believe is more likely to win. </p></li><li><p style="font-family: Arial"><b>Underdog</b>: the fighter that the bookies believe is less likely to win.</p></li></ul>
    <p style="font-family: Arial">Read <a href='https://medium.com/@ciaranbench/how-to-make-money-with-machine-learning-value-betting-on-predicted-ufc-fight-outcomes-46ef6e916912' style="color:red">my Medium article</a> if you want to know why the model needs to know which fighter is the favourite/underdog.</p>
</body>

